@model List<bAnglaShoper.ComEntities.Category>
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form method="post" id="createProduct">
    <label>Category</label>
    <select name="CategoryID">
        @foreach (var category in Model)
        {
            <option value="@category.ID">@category.Name</option>
        }
    </select>
    <br />
    <label>Name</label>
    <input name="Name" />
    <label>Description</label>
    <input name="Description" />
    <label>Price</label>
    <input name="Price" />
    <button type="button" id="saveBtn">Save</button>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize(),
        })
            .done(function (data) {
                // Data Show after the saving new product
                $("#tblContainer").html(data);
                //Create Product hide after save new product
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAILED");
            })
    });
</script>

