@model List<bAnglaShoper.ComEntities.Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post" action="/Product/ProductTable">
        <input name="Search" id="searchTxt"/>
        <button type="button" id="searchBtn">Search</button>
    </form>
    <button type="button" id="newBtn">New</button>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>-</td>
                    <td>@product.Price</td>
                    <td>
                        <button type="button" class="editBtn" data-id ="@product.ID">Edit</button>
                        <button type="button" class="deleteBtn" data-id ="@product.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    //Get Search result after click search button
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
                $("#tblContainer").html(response);
                
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
        });
    });

    //Create Product show after click new button
    $("#newBtn").click(function () {      
        $.ajax({
            url: '/Product/Create',        
        })
            .done(function (response) {
                $("#actionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            });
    });

    // Edit button
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL")
            });
    });
</script>

