
@{
    ViewBag.Title = "Create";
}


<form method="post" class="container">
    <h2>Create Category</h2>
    <div class="form-group">
        <label>Name</label>
        <input name="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input name="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Image</label>
        <input name="ImageURL" id="ImageURL" type="hidden" />
        <input name="Image" type="file" id="uploadImage" accept=".png, .jpg" class="form-control"/>
    </div>
    <div class="thumb">
        <img id="CategoryImage" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<br />
<script>
    $("#uploadImage").change(function () {
        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;
        for (var i = 0; i <= totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
            
        })
            .done(function (response) {
                if (response.Success == true) {
                    $("#CategoryImage").attr("src", response.ImageURL);
                    $("#ImageURL").val(response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAILED");
            })
    });
</script>

